@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Covered+By+Your+Grace|Nanum+Gothic+Coding|Quicksand|Reem+Kufi|Shadows+Into+Light|Voltaire');

* {margin:0;padding:0;box-sizing:border-box;}
img {
	width:300px;
}
#slogan {
	font-style: italic;
	font-weight: lighter;
}
#blog {
	font-family: 'Quicksand', sans-serif ;
}
#older {
	font-family: 'Quicksand', sans-serif ;
}
#pinned {
	font-family: 'Amatic SC', sans-serif;
}
#footer {
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
}
section {
	padding:4em 0;
}
ol {
	padding-left:1.25em;
}
#intro {
	font-family: 'Amatic SC', sans-serif;
	font-weight: bold;
	background:url(../images/woods.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-position: center;
	color: #fff;
	font-size: 2.5em;
	height:90vh;
}
