<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css?family=Quicksand');
* {margin:0;padding:0;box-sizing:border-box;}
img {
	width:300px;
}
#intro {
	font-family: 'Quicksand', sans-serif;
}
#slogan {
	font-style: italic;
}
section {
	padding:4em 0;
=======
h1 {
	font-family: Lemonade Stand;
	font-weight: 300;
	font-size: 300;
	text-align: center;
	color: #033B30;

}
h2 {
	font-family: Lemonade Stand;
	font-weight: 200;
	text-align: center;
	color: #033B30;
>>>>>>> parent of 3c2521f... Merge pull request #2 from jhumbrac/patch-2
}
body {
	font-family: Helvetica;
	color: #033B30;
	background: #A3A7AD;
}
#slogan {
	font-style: italic;
	text-align: center;
}

