@import url('https://fonts.googleapis.com/css?family=Quicksand');
* {margin:0;padding:0;box-sizing:border-box;}
img {
	width:300px;
}
.logo {
	font-family: 'Quicksand', sans-serif;
}
section {
	padding:4em 0;
}
ol {
	padding-left:1.25em;
}
#intro {
	background:url(../images/woods.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-position: center;
	color: #fff;
	font-size: 1.5em;
	height:90vh;
}
